.custom-nav {
    background-color: #283e3e;
}

.custom-nav-item {
    font-size: 1.2rem;
}

.nav-brand {
    padding: 0 15px;
    display: contents;
}

.App-logo {
    height: 7vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
